hr {
    margin-top: 10px;
    border-color: rgba(226, 226, 226, 0.356);
}

.formBox {
    padding: 5%;
}

.posterImage {
    height: 100%;
    width: 100%;
}

.modelContainer {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
}

@media screen and (max-width: 800px) {
    .sidePic {
        display: none;
    }
    .modelContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}