.mainSec {
    padding: 2% 5%;
}

.showImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.preview {
    padding: 5% 2%;
}

.contentSec {
    padding: 0% 2%;
}

.contentSec a {
    color: #883c29;
}

.ratting {
    display: flex;
    padding: 2% 0%;
    justify-content: space-between;
    align-items: center;
}

.wishlist {
    display: flex;
    align-items: center;
}

.priceSec {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.coupon {
    padding: 2% 0%;
}

.coupon span {
    color: black;
}

.accordion {
    padding: 2% 1%;
}

.offers {
    padding: 2% 0%;
}

.sizeBox {
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, 0.493);
    background: #e9e3e3b2;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.sizeBox:hover {
    border: 1px solid rgb(255, 72, 0);
    background: #ecbbbb86;
}

.sizeOption {
    display: flex;
}

.cartButtons {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    gap: 20px;
}

.shopFrom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.vendorIcon {
    width: 80px;
}

.pd {
    padding-top: 2%;
}

.moreInfo {
    padding: 2% 5%;
}

.shopFrom {
    padding: 2%;
}

.detailsCarousel ul {
    gap: 10px;
}

.detailsCarousel .card {
    display: flex !important;
    margin: auto !important;
    background: transparent !important;
    flex-direction: column !important;
}

.detailsCarousel .card button {
    display: block;
}

.detailsCarousel .card button img {
    width: 100%;
    background-color: transparent !important;
    border: none !important;
}

.detailsCarousel .react-multiple-carousel__arrow {
    background-color: #883c29a6;
}

.detailsCarousel .react-multi-carousel-list {
    height: 400px !important;
}

.productTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    min-height: 2.9em;
    max-height: 2.9em;
    -webkit-box-orient: vertical;
}

.cardMedia {
    object-fit: fill !important;
}