.profileTab {
    font-size: 1.2rem !important;
}


/* CSS for UserProfile */

.form {
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.profilePicBox {
    width: 200px;
    height: 200px;
    max-width: 200px;
    padding: 0% !important;
    border-radius: 50%;
}

.editButton {
    position: relative;
    float: right;
    top: 65%;
    background-color: antiquewhite !important;
}

.profileName {
    display: flex;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.profileForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

@media screen and (max-width: 800px) {
    .profileName {
        justify-content: center;
        text-align: center;
    }
}


/* CSS for UserProfile ENDS */


/* CSS for Address */

.addAddress {
    display: flex;
    cursor: pointer;
    border: 1px dashed #91441f;
    border-radius: 10px;
    z-index: 1;
    min-height: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}

.addressTile {
    display: flex;
    flex-direction: column !important;
    cursor: pointer;
    border: 1px solid #91441f;
    border-radius: 10px;
    min-height: 220px;
}


/* CSS for Address ENDS */