.reviewContainer {
    display: flex;
    flex-direction: column;
    padding: 2% 1% 2% 1%;
}

.review {
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 6px 5px 0px #91431f11;
}

.rating {
    display: flex;
    padding: 2% 0% 2% 2%;
    justify-content: space-between;
    align-items: center;
}

.customTextArea {
    width: 100%;
    background-color: rgba(184, 184, 184, 0.199);
    resize: none;
    font-weight: 300;
    outline: none;
}

.cusDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cusDetails img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.review_name {
    flex-grow: 1;
}

.reviewedImagesContainer {
    padding: 2%;
    gap: 10px;
}

.reviewedImages>img {
    width: 100%;
    height: 100%;
}

.conversationBox {
    display: flex;
    max-height: 200px;
    gap: 1rem;
    flex-direction: column;
    margin: 1% 0% 1% 0%;
    overflow-y: scroll;
}

.reply {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    padding: 1%;
    border: 1px solid rgba(201, 201, 201, 0.61);
}

.replyBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1% 0% 1% 0%;
}

.conversationBox::-webkit-scrollbar {
    display: none;
}